@model MatinGram.ViewModels.ViewModels.Users.UserSigninViewModel
@{
    ViewData["Title"] = "Signin";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}




<!-- Start of Sign In -->
<div class="main order-md-1 my-background">


    <div class="start">
        <div class="container">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="my-color">Sign in to Swipe</h1>

                    @*<div class="third-party">
                        <button class="btn item bg-blue">
                            <i class="material-icons">pages</i>
                        </button>
                        <button class="btn item bg-teal">
                            <i class="material-icons">party_mode</i>
                        </button>
                        <button class="btn item bg-purple">
                            <i class="material-icons">whatshot</i>
                        </button>
                    </div>
                    <p>or use your email account:</p>*@

                    <form asp-action="Signin" method="post">
                        <div class="form-group">
                            <input asp-for="MobileNumber" id="inputMobileNumber" class="form-control" placeholder="شماره موبایل" required>
                            <span asp-validation-for="MobileNumber"></span>
                            <button class="btn icon"><i class="material-icons">mail_outline</i></button>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" id="inputPassword" class="form-control" placeholder="کلمه عبور" required>
                            <span asp-validation-for="Password"></span>
                            <button class="btn icon"><i class="material-icons">lock_outline</i></button>
                        </div>
                        <button type="submit" class="btn button">ورود</button>
                        <div class="callout">
                            <span>حسابی ندارید؟ <a href="/Signup">ایجاد حساب</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- End of Sign In -->
<!-- Start of Sidebar -->
<div class="aside order-md-2">
    <div class="container">
        <div class="col-md-12">
            <div class="preference">
                <h2>Hello, Friend!</h2>
                <p>Enter your personal details and start your journey with Swipe today.</p>
                <a href="/Singup" class="btn button">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<!-- End of Sidebar -->
