@model MatinGram.ViewModels.ViewModels.Users.UserSignupViewModel
@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}





<!-- Start of Sign Up -->
<div class="main order-md-2 my-background">
    <div class="start">
        <div class="container">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="my-color">ایجاد حساب</h1>

                    @*<div class="third-party">
                        <button class="btn item bg-blue">
                            <i class="material-icons">pages</i>
                        </button>
                        <button class="btn item bg-teal">
                            <i class="material-icons">party_mode</i>
                        </button>
                        <button class="btn item bg-purple">
                            <i class="material-icons">whatshot</i>
                        </button>
                    </div>
                    <p>or use your email for registration:</p>*@

                    <form class="signup" asp-action="Signup" method="post" enctype="multipart/form-data">
                        <div class="form-parent">
                            <div class="form-group">
                                <input asp-for="MobileNumber" id="inputMobileNumber" class="form-control" placeholder="شماره موبایل" required>
                                <span asp-validation-for="MobileNumber"></span>
                                <button class="btn icon"><i class="material-icons">person_outline</i></button>
                            </div>

                            <div class="form-group">
                                <input asp-for="Name" id="inputName" class="form-control" placeholder="نام شما" required>
                                <span asp-validation-for="Name"></span>
                                <button class="btn icon"><i class="material-icons">person_outline</i></button>
                            </div>
                        </div>

                        <div class="form-group">
                            <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <span asp-validation-for="Password"></span>
                            <button class="btn icon"><i class="material-icons">lock_outline</i></button>
                        </div>

                        <div class="form-group">
                            <input asp-for="ConfirmPassword" type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                            <span asp-validation-for="ConfirmPassword"></span>
                            <button class="btn icon"><i class="material-icons">lock_outline</i></button>
                        </div>

                        <div class="form-group">
                            <label asp-for="ImageFile"></label>
                            <input  type="file" name="ImageFile">
                        </div>

                        <button type="submit" class="btn button">ثبت نام</button>
                        <div class="callout">
                            <span>قبلا وارد شدید؟ <a href="/Signin">ورود به حساب</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Sign Up -->





<!-- Start of Sidebar -->
<div class="aside order-md-1">
    <div class="container">
        <div class="col-md-12">
            <div class="preference">
                <h2>Welcome Back!</h2>
                <p>To keep connected with your friends please login with your personal info.</p>
                <a href="/Signin" class="btn button">Sign In</a>
            </div>
        </div>
    </div>
</div>
<!-- End of Sidebar -->
