@model MatinGram.ViewModels.ViewModels.Users.UserProfileViewModel
@{
    Layout = null;
}



<div class="col-right height-max my-background">

    <div class="col-content">

        <div class="user-panel">

            <div class="avatar-user-panel avatar">
                <div class="avatar-image">
                    <div class="status online"></div><img src="~/@Model.ImageName">
                </div>

                <h3>@Model.Name</h3>


                <div class="user-panel-item user-panel-mobile">
                    <span class="title">
                        تلفن:
                    </span>
                    <a href="#">@Model.Mobile</a>
                </div>


                <div class="user-panel-username user-panel-item">
                    <span class="title">نام کاربری : </span>
                    <a href="#">@("@")@Model.Username</a>
                </div>

                <div class="user-panel-bio user-panel-item">
                    <h4 class="title">بیو : </h4>
                    <p>
                        @Model.Bio
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>


