
@{
    Layout = null;
}


<div class="col-right height-max my-background-3">

    <div class="col-content">

        <div class="user-panel">

            <div class="avatar">
                <div class="avatar-image">
                    <div class="status online"></div><img src="~/ChatroomRefrences/img/avatar.png">
                </div>

                <h3>Theresa Hudson</h3>
                <p>London, United Kingdom</p>

            </div>

        </div>

    </div>

</div>

