@{
    ViewData["Title"] = "Home Page";
}

@await Component.InvokeAsync("UserPanelInChatroom")

<div class="col height-max chatroom-main">

    <div class="col-head" onclick="closeChat();">
        <img class="prof" src="~/ChatroomRefrences/img/avatar.png" alt="">
        <h4 class="name">Matin King</h4>
        <i class="back" hidden>Back</i>
    </div>

    <div class="col-content ">




        <section class="message">
            <div class="grid-message">
            </div>
        </section>

    </div>

    <div class="col-foot">

        <div class="compose">

            <textarea class="txt-message my-background col-11" placeholder="پیام خود را وارد کنید"></textarea>
            <div class="compose-dock">
                <div class="dock">
                    @*<img src="~/ChatroomRefrences/img/picture.svg"><img src="~/ChatroomRefrences/img/smile.svg">*@
                        
                    <i class="fa fa-camera btn-camera"></i>
                    <i class="fa fa-arrow-alt-circle-right btn-send"></i>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="col-left height-max">

    <div class="col-content">

        <div class="messages height-max my-background">

            <form class="search-form">
                <input type="text" name="" id="" placeholder="جستجو ..">
            </form>



        </div>

    </div>

</div>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/ChatroomRefrences/js/Main.js"></script>
    @if (ViewBag.Username != null)
    {
        <script>
            LoadPV('@ViewBag.Username');
            openChat();
        </script>
    }
    else if (ViewBag.Guid != null)
    {

    }
}