@{
    ViewData["Title"] = "Home Page";
}

@await Component.InvokeAsync("UserPanelInChatroom")

<div class="col height-max chatroom-main">

    <div class="col-head" onclick="closeChat();">
        <img class="prof" src="~/ChatroomRefrences/img/avatar.png" alt="">
        <h4 class="name">Matin King</h4>
        <i class="back" hidden>Back</i>
    </div>

    <div class="col-content ">




        <section class="message">
            <div class="grid-message">
                <div class="col-message-received">
                    <div class="message-received">
                        <p>Ok.</p>
                    </div>
                    <div class="message-received">
                        <p>Do you play EVE Online?</p>
                    </div>
                </div>
                <div class="col-message-sent">
                    <div class="message-sent">
                        <p>Not anymore.</p>
                    </div>
                </div>
                <div class="col-message-received">
                    <div class="message-received">

                        <p>But, can you?</p>
                    </div>
                </div>
                <div class="col-message-sent">
                    <div class="message-sent">
                        <p>I guess if I had some practice I could again. It's been years.</p>
                    </div>
                </div>
                <div class="col-message-received">
                    <div class="message-received">
                        <p>Dat titan though...</p>
                    </div>
                </div>
                <div class="col-message-sent">
                    <div class="message-sent">
                        <p>Trombone, guitar, titan?</p>
                    </div>
                </div>
                <div class="col-message-received">
                    <div class="message-received">
                        <p>Niiiiice.</p>
                    </div>
                </div>
                <div class="col-message-sent">
                    <div class="message-sent">
                        <div class="">
                            <p>Do you care if I use the last few minutes of our conversation as dummy text for this thing I'm coding?</p>
                        </div>
                    </div>
                </div>
                <div class="col-message-received">
                    <div class="message-received">
                        <p>Sure go ahead.</p>
                    </div>
                </div>
                <div class="col-message-sent">
                    <div class="message-sent">
                        <p>Okay.</p>
                    </div>
                    <div class="message-sent">
                        <p>I'll send you some ISK when I'm done.</p>
                    </div>
                    <div class="message-sent">
                        <p>It's cool.</p>
                    </div>
                </div>
                <div class="col-message-received">
                    <div class="message-received">
                        <p>Ok.</p>
                    </div>
                    <div class="message-received">
                        <p>Do you play EVE Online?</p>
                    </div>
                </div>
                <div class="col-message-sent">
                    <div class="message-sent">
                        <p>Not anymore.</p>
                    </div>
                </div>
                <div class="col-message-received">
                    <div class="message-received">
                        <p>But, can you?</p>
                    </div>
                </div>
                <div class="col-message-sent">
                    <div class="message-sent">
                        <p>I guess if I had some practice I could again. It's been years.</p>
                    </div>
                </div>

            </div>
        </section>

    </div>

    <div class="col-foot">

        <div class="compose">

            <textarea class="txt-message my-background col-11" placeholder="پیام خود را وارد کنید"></textarea>
            <div class="compose-dock">
                <div class="dock"><img src="~/ChatroomRefrences/img/picture.svg"><img src="~/ChatroomRefrences/img/smile.svg"></div>
            </div>

        </div>

    </div>

</div>

<div class="col-left height-max">

    <div class="col-content">

        <div class="messages height-max my-background">

            <form class="search-form">
                <input type="text" name="" id="" placeholder="جستجو ..">
            </form>



        </div>

    </div>

</div>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/ChatroomRefrences/js/Main.js"></script>
}