/*
	 NAV BAR
	------------
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    overflow-y: hidden;
}

ul.Top-Menu {
    height: 10vh;
    background: linear-gradient(150deg, rgb(26, 152, 255) 0, rgb(97, 171, 231) 100%, rgb(166, 208, 241) 0);
    overflow: hidden;
    direction: rtl;
}

    ul.Top-Menu li a {
        display: inline-block;
        padding: 20px;
        color: gold;
        text-shadow: black -1px -1px 10px;
        font-size: 2.5em;
        float: right;
        text-decoration: none;
    }

        ul.Top-Menu li a:hover {
            background: linear-gradient(305deg, rgba(140, 167, 255, 1) 0, rgba(139, 84, 249, 1) 50%, rgba(131, 33, 243, 1) 100%);
        }

.height-max {
    height: 100% !important;
}

.message-sent {
    cursor: pointer;
}

.message-received {
    cursor: pointer;
}

main.main {
    height: 100vh;
}

.menu-area {
    background-color: #000;
    border-bottom: 5px solid #fff;
    padding-left: 20px;
    padding-right: 20px;
}

    .menu-area:after {
        content: '';
        display: block;
        clear: both;
    }

    .menu-area .menu-button {
        float: right;
        padding-top: 20px;
        display: none;
    }

        .menu-area .menu-button i {
            color: #fff;
            font-size: 30px;
            cursor: pointer;
        }

    .menu-area .menu-bar {
    }

        .menu-area .menu-bar .menu {
            width: 100%;
            margin: auto;
        }

            .menu-area .menu-bar .menu ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                margin: auto;
            }

                .menu-area .menu-bar .menu ul > li {
                    border-left: 1px solid #fff;
                    position: relative;
                }

                .menu-area .menu-bar .menu ul li a {
                    text-decoration: none;
                    color: #fff;
                    padding: 8px 10px;
                    display: block;
                    line-height: 25px;
                }

                    .menu-area .menu-bar .menu ul li a:hover {
                        background-color: #CE5A1B;
                    }

                .menu-area .menu-bar .menu ul ul {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    display: none;
                    z-index: 111;
                }

                .menu-area .menu-bar .menu ul li:hover > ul {
                    display: block;
                }

                .menu-area .menu-bar .menu ul ul li {
                    background-color: #000;
                    border-left: none;
                    width: 101px;
                }

            .menu-area .menu-bar .menu li:hover {
                background-color: #CE5A1B;
                display: block;
            }


/* ALL CSS */

.logo {
    display: inline-block;
    float: left;
    padding-top: 8px;
}

    .logo a {
        text-decoration: none;
    }

.menu-bar {
    float: right;
}

.task-button-area {
    margin-top: 47px;
    padding: 5px 0;
}

.task-status {
    display: inline-block;
    float: left;
}

.button-area {
    float: right;
}

.task-button-area:after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    border: .5px solid rgba(0, 0, 0, 0.1);
}

.messages {
    height: 85vh;
    overflow-y: auto;
}

.col {
    height: 85vh;
    padding-right: 0;
}

.grid-message {
    overflow-y: auto;
}

.wrapper {
    height: 100vh;
}

.messages li {
    cursor: pointer;
    background: linear-gradient(150deg, rgb(85, 165, 165), rgb(75, 143, 143) 0%, rgb(24, 83, 83));
    margin: 5px 0;
}

    .messages li:hover {
        background: linear-gradient(150deg, rgb(85, 165, 165), rgb(75, 143, 143) 200%, rgb(24, 83, 83));
    }

    .messages li h3,
    .user-panel h3 {
        color: rgb(197, 172, 29);
    }

.txt-message {
    resize: none;
    height: 80px;
    padding: 20px;
    direction: rtl;
    border: none;
}

.my-background {
    background-color: rgb(38, 50, 56) !important;
}

.my-background-2 {
    background-color: rgb(25, 34, 39) !important;
}

.my-background-3 {
    background: linear-gradient(-30deg,#263238 50%,red 106%);
}



.user-panel-username a,
.user-panel-mobile a {
    text-decoration: none;
    color: rgb(50, 190, 190);
}

    .user-panel-username a:hover,
    .user-panel-mobile a:hover {
        color: cyan;
    }

.user-panel-item {
    background: linear-gradient(240deg, rgb(25, 34, 39), rgb(129, 4, 4) 200%, rgb(25, 34, 39));
    margin: 20px auto;
    border-top: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 10px;
}

.user-panel-bio p {
    color: cyan !important;
    text-align: start !important;
}

.user-panel-item .title {
    font-size: 20px;
    color: rgb(8, 211, 116);
}

.avatar-user-panel {
    opacity: 0.7;
    background-color: rgb(54, 54, 54);
    padding: 20px;
    border-radius: 5px;
    transition: opacity 1s;
}

    .avatar-user-panel:hover {
        opacity: 1;
    }

.user-panel * {
    direction: rtl;
}


.chatroom-main .col-head {
    overflow: hidden;
    margin: 0 !important;
    background: linear-gradient(150deg, rgb(85, 165, 165), rgb(75, 143, 143) 0%, rgb(24, 83, 83));
    transition: linear-gradient 2s;
}

    .chatroom-main .col-head:hover {
        background: linear-gradient(150deg, rgb(85, 165, 165), rgb(75, 143, 143) 50%, rgb(24, 83, 83));
    }

.chatroom-main {
    padding: 0 !important;
    overflow: hidden !important;
}

    .chatroom-main .col-head .prof {
        resize: both;
        width: 60px;
        height: 60px;
        border-radius: 1000px;
        display: block;
        margin: 10px auto;
        float: initial;
        cursor: pointer;
    }

    .chatroom-main .col-head .name {
        display: block;
        width: 50%;
        text-align: center;
        margin: 10px auto;
        color: gold;
    }

    .chatroom-main .col-head .back {
        position: absolute;
        color: cyan;
        font-size: 30px;
        right: 0;
        top: 0;
        margin: 20px;
        padding: 20px;
    }

        .chatroom-main .col-head .back:hover {
            background-color: rgb(16, 119, 119);
        }

.search-form input {
    display: block;
    height: 40px;
    width: 90%;
    margin: 10px auto;
    direction: rtl;
    border-radius: 10px;
    padding: 10px;
}

.btn-camera {
    font-size: 30px;
    color: black;
    cursor: pointer;
}

    .btn-camera:hover {
        color: rgb(54, 54, 54);
    }

.btn-send {
    font-size: 30px;
    color: dodgerblue;
    cursor: pointer;
}

    .btn-send:hover {
        color: deepskyblue;
    }

.message-image {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-bottom: 10px;
    border: 1px solid rgb(56, 98, 233);
}

.message-name {
    font-size: 15px;
    color: #5c5555;
}

    .message-name:hover {
        color: #221c1c;
    }

.message-received hr {
    margin-top: 2px;
    margin-bottom: 10px;
}

.grid-message {
    width: 100% !important;
    overflow: visible;
}

section.message {
    height: 100% !important;
}

.col-message-received,
.col-message-sent {
    height: fit-content !important;
    overflow: hidden;
    margin: 20px 0;
}

.message-out {
    margin: 20px;
}

.message-box {
    overflow-y: scroll !important;
    height: 70%;
}

.add-new-chat {
    position: fixed;
    bottom: 30px;
    right: 30px;
    top: auto;
    left: auto;
    background: linear-gradient(150deg, rgb(85, 165, 165), rgb(75, 143, 143) 0%, rgb(24, 83, 83));
    cursor: pointer;
    width: 60px;
    height: 60px;
    text-align: center;
    color: white;
    padding: 20px 0px;
    border-radius: 1000px;
}

    .add-new-chat:hover {
        background: linear-gradient(150deg, rgb(85, 165, 165), rgb(75, 143, 143) 100%, rgb(24, 83, 83));
    }

.profile-image-container {
    margin: 0;
    padding: 0;
    background: linear-gradient(150deg, rgb(85, 165, 165), rgb(75, 143, 143) 0%, rgb(24, 83, 83));
    height: 30%;
    text-align: center;
    padding: 40px;
    position: relative;
}

    .profile-image-container i {
        position: absolute;
        left: 20px;
        top: 20px;
        right: auto;
        bottom: auto;
        cursor: pointer;
        padding: 10px;
        border-radius: 1000px;
        color: white;
        font-size: 20px;
    }

        .profile-image-container i:hover {
            background-color: rgb(27,87,87);
        }

.profile-image {
    border-radius: 1000px;
    width: 80px;
    height: 80px;
}

.profile-name {
    color: gold;
}

.profile-body {
    text-align: right;
    padding: 100px;
}

.profile-username {
    direction: rtl;
    font-size: 25px;
    padding: 20px;
}

.profile-bio {
    padding: 20px;
    direction: rtl;
    font-size: 20px
}

.profile-controls {
    margin: 20px 5px;
    padding: 20px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
}

.profile-controls-item {
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

    .profile-controls-item:hover {
        background: rgb(75, 143, 143);
        color: gold;
        text-shadow: -1px 1px 5px black;
    }

.member-image {
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    cursor: pointer;
}

i.master {
    color: deepskyblue;
    float: left;
}

i.admin {
    float: left;
}

.members-list-container {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    direction: rtl;
    text-align: right;
    box-shadow: 0px 0px 10px gray;
    height: 350px;
    overflow-y: scroll;
}

.member {
    overflow: hidden;
    border-bottom: 1px solid #c2c2c2;
    padding: 10px;
}

    .member:hover {
        background-color: #e1d2d2;
    }

.group-link-container {
    text-align: center;
    height: 50vh;
    padding: 10vh;
    max-height: 100%;
}

.group-link {
    box-shadow: 0px 0px 50px gray;
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto;
    overflow: hidden;
}

    .group-link span {
        color: dodgerblue;
        cursor: default;
    }

    .group-link i {
        float: right;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }

        .group-link i:hover {
            color: deepskyblue;
        }

.username-link::before {
    content: "@";
}

.in-message-link {
    color: #ffd304;
    display: inline-block;
}

    .in-message-link:hover {
        color: cyan;
        background-color:#12508d;
    }

.message-sent p, .message-received p {
    font-size:20px;
}

.col-message-info {
    text-align: center;
    display: block;
    width: 100%;
}

    .col-message-info span {
        background-color: lightgray;
        opacity: .5;
        padding: 10px;
        font-size: 10px;
        border-radius: 30px;
        cursor:pointer;
    }