<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sign In – Swipe</title>
    <meta name="description" content="#">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="~/LoginRefrences/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- Swipe core CSS -->
    <link href="~/LoginRefrences/css/swipe.min.css" type="text/css" rel="stylesheet">
    <!-- Favicon -->
    <link href="~/LoginRefrences/img/favicon.png" type="image/png" rel="icon">

    <link href="~/LoginRefrences/css/MyStyleSheet.css" rel="stylesheet" />
</head>
<body class="start">
    <main>
        <div class="layout">

                @RenderBody()

        </div> <!-- Layout -->
    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/LoginRefrences/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="~/LoginRefrences/js/vendor/jquery-slim.min.js"></script>
    <script src="~/LoginRefrences/js/vendor/popper.min.js"></script>
    <script src="~/LoginRefrences/js/bootstrap.min.js"></script>
    @RenderSection("Scripts",false)
</body>

</html>