
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>پیام سیستم</title>
</head>
<body>
    <div class="container table-bordered">
        <div class="alert-info">
            @ViewBag.Message
        </div>
    </div>
</body>
</html>
