
.my-background {
    background-color: rgb(38, 50, 56) !important;
}

.my-background-2 {
    background-color: rgb(25, 34, 39) !important;
}

.my-background-3 {
    background-color: orange !important;
}
.my-color {
    color:orange!important;
}

.my-color-2 {
    background-color: rgb(25, 34, 39) !important;
}